<section class="section">
  <div class="container">
    <h1 class="center-align">About Convocatorias</h1>
    <p class="flow-text">
      Sistema de Convocatorias dirigida a docentes y no docentes 
      Plazas Disponibles
    </p>
    <p class="divider"></p>
    <p style="text-align: center;">App Version: {{ appVersion }}</p>
  </div>
</section>