<div class="row center light-blue lighten-10" style=" margin-top: 35px;
  width: 100%;
  height: 225px; background-image: url('/img/B.jpg'); background-repeat: no-repeat;background-size: cover;} background-position: left;" >


  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row center" style="margin-top: 45px;" >
    <a href="/project/add" id="download-button"
      class="btn-large waves-effect waves-light teal">Iniciar Sesion</a>
  </div>
</div>